<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<!--    <link rel="stylesheet" href="/assets/css/main.css">-->
    <title>playlistItems</title>
</head>
<body>
<article>
    <h1>YouTube playlistItems</h1>
    <p>여러 비디오들을 한번에 삭제하세요.</p>
    <!--    <ul>-->
    <!--        <li th:each="playlistItem : ${playlistItems}">-->
    <!--            <span>구분용!</span>-->
    <!--            <p th:text="${playlistItem.snippet.title}"></p>-->
    <!--            <p th:text="${playlistItem.id}"></p>-->
    <!--            <p th:text="${playlistItem.snippet.description}"></p>-->
    <!--            <a th:href="${playlistItem.snippet.thumbnails.default.url}"-->
    <!--               th:text="${playlistItem.snippet.thumbnails.default.url}"></a>-->
    <!--        </li>-->
    <!--    </ul>-->

    <fieldset>
        <legend th:text="${title}"></legend>

        <div th:each="playlistItem : ${playlistItems}">
            <input th:type="checkbox" th:id="playlistItem" th:name="playlistItem" th:class="playlistItem" th:value="${playlistItem.id}">
            <label th:for="playlistItem" th:text="${playlistItem.snippet.title}">Scales</label>
        </div>
    </fieldset>

    <button id="deleteButton">선택한 항목 삭제</button>

    <div id="progress"></div>
</article>
<script src="/assets/js/main.js"></script>
</body>
</html>